# Node
node_modules/
.env
firebase-admin-key.json
*.log

# OS / Editor-specific
.DS_Store
*.swp
.idea/
.vscode/

# Build
dist/
build/
.cache/

# Firebase Emulator (optional if you're using it)
firebase-debug.log
firestore-debug.log